### Due to the lack of data we concatinate alle the data together. While doing this we assume that the content id comparable between universities..

In [2]:
import pandas as pd

In [3]:
wisconsin_content = pd.read_csv("WebKB/wisconsin.content", sep="	", header=None)
cornell_content = pd.read_csv("WebKB/cornell.content", sep="	", header=None)
texas_content = pd.read_csv("WebKB/texas.content", sep="	", header=None)
washington_content = pd.read_csv("WebKB/washington.content", sep="	", header=None)

In [8]:
# adding the dataframes together.

new_df = pd.concat([wisconsin_content, cornell_content, texas_content, washington_content], ignore_index=True)

In [17]:
new_df = new_df.sample(frac=1)

In [19]:
new_df.to_csv("collected.content", sep="\t", header = False,index=False)

In [18]:
new_df

,0,1,2,3,4,5,6,7,8,9,...,1695,1696,1697,1698,1699,1700,1701,1702,1703,1704
333,http://www.cs.cornell.edu/info/people/chew/che...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,staff
632,http://www.cs.utexas.edu/users/wilson,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,faculty
763,http://www.cs.washington.edu/homes/hauck,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,student
250,http://www.cs.wisc.edu/~weaver/cs302.html,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,course
202,http://www.cs.wisc.edu/~sally/sally.html,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,faculty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,http://www.cs.wisc.edu/~galileo,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,1,0,project
800,http://www.cs.washington.edu/homes/nara,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,student
720,http://www.cs.washington.edu/homes/anhai,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,student
270,http://cs.cornell.edu/info/courses/spring-96/c...,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,course
61,http://www.cs.wisc.edu/~cs537-1/cs537.html,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,0,course

In [15]:
wisconsin_cites = pd.read_csv("WebKB/wisconsin.cites", sep=" ", header=None)
cornell_cites = pd.read_csv("WebKB/cornell.cites", sep=" ", header=None)
texas_cites = pd.read_csv("WebKB/texas.cites", sep=" ", header=None)
washington_cites = pd.read_csv("WebKB/washington.cites", sep=" ", header=None)

In [16]:
new_df_cites = pd.concat([wisconsin_cites, cornell_cites, texas_cites, washington_cites], ignore_index=True)

In [20]:
new_df_cites = new_df_cites.sample(frac=1)

In [22]:
new_df_cites.to_csv("collected.cites", sep="\t", header = False,index=False)